MONGODB_URI=mongodb+srv://Web3Nova:lQd4IWp5EzW7c4V3@cluster0.9t06ate.mongodb.net/starlink_hub?appName=Cluster0
MONNIFY_API_KEY=MK_PROD_LUGPZLGASS
MONNIFY_SECRET_KEY=XUH464HRPQKZTS6VZ1XEFEUVG9YMC13X
MONNIFY_CONTRACT_CODE=817785121744
MONNIFY_BASE_URL=https://api.monnify.com
NEXT_PUBLIC_APP_URL=http://localhost:3000
JWT_SECRET=any-long-random-string-here
# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_AMOUNT=5000

# Admin
ADMIN_PASSWORD=admin123
JWT_SECRET=your_super_secret_jwt_key_change_this
